/* body {
    width: 200px;
} */

.flex {
    display: flex;
    flex-flow: row wrap;
    /* justify-content: space-evenly; */
    /* align-items: stretch; */
    height: 200px;
    /* align-content: space-evenly; */
}

.red{
    background-color: red;
}

.primero {
    /* order: 1; */
    /* flex-grow: 1;
    flex-basis: 120px; */
    flex: 1 120px;
}

.tercero {
    /* order: -1; */
    flex-grow: 2;
    align-self: stretch;
}

.segundo {
    flex-grow: 1;
}



