body {
    background-color: #EEE;
}

.grid {
    display: grid;
    grid-template-rows: repeat(2, [row-inicio] 50px [row-fin]);
    grid-template-columns: repeat(3, [col-inicio] 1fr [col-fin]);
    grid-gap: 15px;
}

.element {
    background-color: red;
}

.header {
    grid-column: col-inicio / col-fin 3;
    grid-row: row-inicio / row-fin;
}

.grid-area {
    display: grid;
    grid-template-areas: "header header"
        "content sidebar"
        "footer footer";
    grid-template-rows: 150px 1fr 100px;
    grid-template-columns: 1fr 200px;
    grid-auto-rows: 140px;
    grid-auto-flow: row;
    /* justify-items: stretch;
    align-items: end; */
}

.red {
    background-color: red;
}

/* .blue {
    background-color: blue;
} */

.item-1 {
    align-self: center;
    justify-self: center;
}