body {
    background-color: #EEE;
}

.fondo{
    background-image: linear-gradient(0deg, red, blue, yellow);
}

.fondo2{
    background-image: repeating-linear-gradient(0deg, red 10%, blue 20%);
}

/* ------------------------ */

.box {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}

.text {
    color: white;
    text-shadow: 0px 1px 2px rgba(255,0,0,0.9);
}

.box2 {
    position: relative;
    left: 50px;
    top: 50px;
    width: 100px;
    height: 100px;;
    background-color: white;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
    /* transform: skew(25deg, 10deg); */
    /* transform: rotate(20deg); */
    transition: 0.3s 0.5s;
}

.box2:hover {
    transform: scale(1.05, 1.05);
    background-color: rgba(0, 0, 0, 0.1);
}

.boxc{
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    margin: 10px 15px;
    width: 200px;
    padding: 10px 15px;
    text-align: center;
    transition: 0.3s;
}

.red {
    border-left: solid 2px red;
}

.red:hover{
    transform:  scale(1.05, 1.05);

}

.green {
    border-left: solid 2px green;
}

.green:hover{
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
}

.blue {
    border-left: solid 2px blue;
}

.blue:hover{
    background-color: #EEF;
}